*.pyc
*.pyo
/semsearch/migrations/*
/deps
/media
*.sqlite3
/media/frames
/media/uploads
/im2txt/bazel-bin
/im2txt/bazel-ci_build-cache
/im2txt/bazel-genfiles
/im2txt/bazel-out
/im2txt/bazel-im2txt
/im2txt/bazel-testlogs
/im2txt/bazel-tf
/im2txt/model/train/*
/data.txt
/db.sqlite3

