{% load staticfiles %}

<video width="320" height="240" controls>
    <source src="{{ location }}" type="video/mp4"> Your browser does not support the video tag.
</video>

<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Search:<br>
        <input type="text" name="search"><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    {{search_result}}
    <br>
    {{ not_valid }}
    <br>
    <br>
</div>
{% for i,c in sorted_inverted  %}
  <p>{{ i }}     {{c}}</p>

{% endfor %}