{% load staticfiles %}

<video width="320" height="240" controls>
    <source src="{{ location }}" type="video/mp4"> Your browser does not support the video tag.
</video>

<div>
    <form method="post" action='/video/{{video_id}}' >
        {% csrf_token %}
        Search:<br>
        <input type="text" name="search"><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    {{search_result}}
    {{img_loc}}
    {{img_desc}}
    <br>
    {{ not_valid }}
    <br>
    <br>
</div>
{% for i,c in sorted_inverted %}
<p>{{ i }}</p>
    {% for d,e in c %}
     <a href="/video/{{video_id}}/?position={{e}}">{{d}}</a> <br>
    {% endfor %}
{% endfor %}