<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
   <a class="navbar-brand" href="{% url 'home' %}">Q&amp;APlatform</a>
  </div>
{% if user.is_authenticated %}
  <!-- Collect the nav links, forms, and other content for toggling -->
{% if user.is_superuser %}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'report' %}">Report</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'about' %}">About</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.user.username}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/admin">Settings</a></li>

          <li class="divider"></li>
          <li><a href="/admin/logout">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
{% else %}
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
     <li><a href="{% url 'read' %}">Read</a></li>
     <li><a href="{% url 'write' %}">Write</a></li>

   </ul>
   <div class="col-sm-3 col-md-3">
       <form class="navbar-form" type="get" action="{% url 'search' %}" >
       {% if not show_search %}
       <div class="input-group">
           <input id="search_box" type="text" name="search_box"  placeholder="Search..." class="form-control" >
           <div class="input-group-btn">
               <button id="search_submit" class="btn btn-default" type="submit">Go</button>
           </div>
       </div>
       {% endif %}
       </form>
   </div>
   <ul class="nav navbar-nav navbar-right">
     <li><a href="/categories">Categories</a></li>
     <li><a href="{% url 'about' %}">About</a></li>
     <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.user.first_name}} <b class="caret"></b></a>
       <ul class="dropdown-menu">
         <li><a href="{% url 'password' %}">Change Password</a></li>

         <li class="divider"></li>
         <li><a href="{% url 'logout' %}">Log Out</a></li>
       </ul>
     </li>
   </ul>
 </div><!-- /.navbar-collapse -->
 {% endif %}
{% else %}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
{% endif %}

</nav>
